extends ../../layouts/default

block head
  title About Us

block neck
  link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')

block body
  div.row
    h2 Welcome to Fuller Hosting! 
    p This site is a project in progress. Current features may not function fully or at all. Explore the site and check back for continued updates. The goal of this site is to learn and explore the many features that are packed into node.js with express.js and many other add-ons and features. This site currently uses Mongodb for storage and passport for help with user authentication. 

    h3 Future Plans
    p Future plans include completing the fully functional control panel to allow a user to sign in and customize their profile as well as the features requested by the user. Other features planned are comments, social media intergration, community forums, and much more.

    p Once again this site is NOT fully functional at this time. Feel free to check back soon.
